<script type="text/x-handlebars-template" data-name="toolbar">
    <div class="row">
        <div class="col-xs-4">
            <select class="mapsvg-select2" style="width: 100%;">
                <optgroup label="Popovers">
                    <option value="popoverRegion" selected>Region Popover</option>
                    <option value="popoverMarker">DB Object Popover</option>
                </optgroup>
                <optgroup label="Tooltips">
                    <option value="tooltipRegion">Region Tooltip</option>
                    <option value="tooltipMarker">DB Object Tooltip</option>
                </optgroup>
                <optgroup label="Details view">
                    <option value="detailsViewRegion">Region Details View</option>
                    <option value="detailsView">DB Object Details View</option>
                </optgroup>
                <optgroup label="Directory">
                    <option value="directoryItem">Directory Item</option>
                </optgroup>
            </select>
        </div>
        <div class="mapsvg-toolbar-title col-xs-4">
            Templates
        </div>
        <div class="col-xs-4">
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" data-name="main">
    <div id="mapsvg-template-container" class=""></div>
</script>

