
/* -- hiding WP admin bar --*/

html #wpadminbar{
    display: none;
}

html #adminmenuwrap{
    display: none;
}
html #adminmenuback{
    display: none;
}
html #wpcontent{
    margin-left: 10px;;
    margin-right: 30px;
}
/* -- hiding WP admin bar END --*/


h4{
    margin-bottom: 8px;
}

.sc-con { width:650px; overflow:auto; position:relative; height:700px; }
.pop-menu{ width:630px; overflow:hidden; position:relative; cursor:pointer; }
.pop-menu li{ list-style:none; padding:10px; font-size:1.5em; width:100%; background: transparent url('img/dzsarrows.png') no-repeat 90% 50%; border-bottom:1px solid #eee;  }
.pop-menu li:last-child{ border-bottom:0px solid #eee;  }
.menu-page { position:absolute; left:630px; display:none; top:0; width:100%;}
.sc-title{ font-size:1.5em; margin:1em 0; }




a.bluebg{ background:#0cF; color:#fafafa!important; padding:5px 8px; text-decoration:none; display:inline-block; margin-top:5px; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;	}
a.bluebg:hover{ background:#0dF;}
input[type="text"]{background: none repeat scroll 0 0 #fdfdfd;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #555;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 12px;
    padding: 5px;
    resize: none;
	box-shadow:0 0 2px 1px rgba(0,0,0,0.05);}
	
.colorpicker{ position: relative; }
.colorpicker .mColorPickerTrigger { position:absolute; top:5px; left:180px; }


/*columns*/
.columns-con{ position:relative; width:100%; height:auto; }
.sc_column, .sc_tab{ border:1px solid rgba(0,0,0,0.1); background-color:rgba(0,0,0,0.02); box-sizing: border-box; -moz-box-sizing: border-box;  -webkit-box-sizing: border-box; margin-top:10px; padding:0px 15px 15px; border-radius:5px; }

.sc_column textarea, .sc_tab textarea{width:90%; height:100px; padding:8px 10px; background: none repeat scroll 0 0 #fdfdfd;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #555;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 12px;
    padding: 5px;
    resize: none;
	box-shadow:0 0 2px 1px rgba(0,0,0,0.05);  }
.sc_column  h4 {  }

.sc_tab h5{margin-top:1em;}




.fullwidth{
    width: 100%;
}


/* ------- Page Builder Columns ------- */
.dzspb_lay_row, .dzspb_layb_layout {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }

.dzspb_lay_row:after, .dzspb_layb_layout:after {
    display: block;
    content: " ";
    clear: both; }

.dzspb_lay_row *, .dzspb_layb_layout * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }

.dzspb_layb_one_full {
    padding-right: 15px;
    padding-left: 15px; }

.dzspb_layb_one_half {
    width: 50%; }

.dzspb_layb_one_third {
    width: 33.3333%; }

.dzspb_layb_two_third {
    width: 66.6666%; }

.dzspb_layb_one_fourth {
    width: 25%; }

.dzspb_layb_three_fourth {
    width: 75%; }

.dzspb_layb_one_fifth {
    width: 20%; }

.dzspb_layb_two_fifth {
    width: 40%; }

.dzspb_layb_three_fifth {
    width: 60%; }

.dzspb_layb_four_fifth {
    width: 80%; }

.dzspb_layb_one_sixth {
    width: 16.6%; }

.dzspb_layb_five_sixth {
    width: 83.3%; }

.dzspb_layb_one_half, .dzspb_layb_one_third, .dzspb_layb_two_third, .dzspb_layb_three_fourth, .dzspb_layb_one_fourth, .dzspb_layb_one_fifth, .dzspb_layb_two_fifth, .dzspb_layb_three_fifth, .dzspb_layb_four_fifth, .dzspb_layb_one_sixth, .dzspb_layb_five_sixth {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    float: left; }

.clearboth {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%; }

.dzspb_layb_layout:after{
    content: "";
    display: block;
    clear: both;
}
/* ------- Page Builder Columns END ------- */







.ui-button{
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2);
border-color: #222;
background: #444;
background: -moz-linear-gradient(top, #444 0%, #333 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#333));
background: -webkit-linear-gradient(top, #444 0%,#333 100%);
background: -o-linear-gradient(top, #444 0%,#333 100%);
background: -ms-linear-gradient(top, #444 0%,#333 100%);
background: linear-gradient(top, #444 0%,#333 100%);
font-size:9px;
height: 29px;
line-height: 11px;
padding: 7px 14px 9px 14px;
color:#fff;
position: relative;
border: 1px solid rgba(0,0,0,0.2);

cursor:pointer;
}

/* ---- styleme selector */
.select-wrapper{ background: url("../admin/img/select.png") no-repeat scroll right center #fefefe; width: 150px; height:28px; 
border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #888888;
    display: inline-block; }
.select-wrapper select{cursor: pointer;
height: 28px;
padding: 0;
margin-left:0;
opacity:0;
position: relative;
width: 150px;
z-index: 4; }
.select-wrapper span{    height: 26px;
    line-height: 26px;
    padding-left: 6px;
    position: absolute;
    z-index: 2;
}
html[dir=rtl] .select-wrapper span{ margin-right:36px;
}





.shortcode-generator-cols{
    text-align: center;
}


body .wrap .insert-sample-tracks{
    background-color: #F9FBEE;
}

.wrap.sample-data-installed .sidenote-for-sample-data-not-installed{
    display: none;
}