#toplevel_page_dzsap_menu .wp-menu-image{
	background: transparent url(img/icon.png) center center no-repeat;
}#toplevel_page_dzsap_menu:hover .wp-menu-image{
	background: transparent url(img/icon-hover.png) center center no-repeat;
}
#toplevel_page_dzsap_menu.wp-menu-open .wp-menu-image{
	background: transparent url(img/icon-hover.png) center center no-repeat;
}


/* ---- styleme selector */
.select-wrapper{ background: url("img/select.png") no-repeat scroll right center #fefefe; width: 190px; height:28px;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #888888;
    display: inline-block; }
.select-wrapper select{cursor: pointer;
    height: 28px;
    padding: 0;
    margin-left:0;
    opacity:0;
    position: relative;
    width: 100%;
    z-index: 4; }
.select-wrapper span{    height: 26px;
    line-height: 26px;
    padding-left: 6px;
    position: absolute;
    z-index: 2;
}
html[dir=rtl] .select-wrapper span{ margin-right:36px;
}
/* ---- styleme selector END */