/*
* Plugin Name: Themeum Core
* Plugin URI: http://www.themeum.com/item/core
* Author: Themeum
* Author URI: http://www.themeum.com
* License - GNU/GPL V2 or Later
* Description: Themeum Core is a required plugin for this theme.
* Version: 1.0
*/


/* *********************************************************************** */
/* ************************ Subscription Area Close   ******************** */
/* *********************************************************************** */
.mc4wp-form input[type="email"]{
    background: #e3e3da;
    padding: 0;
    border: 0;
    height: 50px;
    opacity: 1;
    color: #b0b0a9;
    text-align: center;
    height: 56px;
/*    width: 657px;*/
    width: 60%;
    display: block;
    margin: 36px auto 0;
    border-radius: 5px;
}
.mc4wp-form input[type="submit"]{
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    margin-top: 46px;
    padding: 12px 43px 15px;
    position: relative;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    z-index: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.mc4wp-form .mailchip-submit{
    text-align: center;
}
.mc4wp-form input[type="submit"]:hover {
    color: #000;
    border: 2px solid #fff;
    background-color: #fff;
}
.mc4wp-form input[type="submit"]::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    width: 100%;
    z-index: -1;
}

.filled-button{
    background: #06396a none repeat scroll 0 0;
    clear: both;
    color: #fff;
    display: table;
    font-size: 18px;
    margin: 30px auto 0;
    padding: 15px 30px 16px;
    text-transform: capitalize;
    border-radius: 2px;
}
.filled-button:hover,
.filled-button:focus {
    color: #fff;
}
/* *********************************************************************** */
/* ************************ Subscription Area End   ********************** */
/* *********************************************************************** */




/* *********************************************************************** */
/* ************************ Latest News Area Start   ********************* */
/* *********************************************************************** */
.latest-news .section-title{
    margin-bottom: 52px;
}
.news-img{
    position: relative;
    overflow: hidden;
}
.news-date{
    position: absolute;
    left: 0;
    top: 0;
}
.news-date:before{
    background: rgba(237, 28, 36, 0.6) none repeat scroll 0 0;
    content: "";
    height: 100px;
    left: -80px;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 260px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.news-date p{
    color: #fff;
    font-size: 24px;
    margin: 35px 0 0 20px;
    position: relative;
    width: 100px;
}
.news-wrap h3 {
    margin-top: 36px;
    margin-bottom: 26px;
}
.news-wrap h3 a {
    color: #000;
    font-size: 24px;
    line-height: 30px;
}
.news-wrap > p {
    color: #666666;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}
.thumbnail-news .news-date p {
    font-size: 12px;
    line-height: 18px;
    margin: 4px 0 0 4px;
    width: 50px;
}
.thumbnail-news .news-date::before {
    left: -62px;
    top: -62px;
    width: 150px;
}
.small-news h4 a {
    color: #000;
    font-size: 18px;
}

.thumbnail-news{
    padding-left: 30px;
    margin-bottom: 40px;
}
.small-news .short-desc {
    color: #666666;
    font-size: 14px;
    line-height: 20px;
}
.small-news {
    margin-left: 10px;
    width: 77.7%;
}
.small-news h4 {
    margin: 0px 0px 15px;
}
/* *********************************************************************** */
/* ************************ Latest News Area Close   ********************* */
/* *********************************************************************** */



